<div class="card w-100 mt-5" style="position: fixed; left: 0; bottom: 0; width: 100%; background-color: #e3f2fd;">
  <div class="card-header">
    <footer class="blockquote-footer text-center">
      <div>&#169; All Rights Reserved <i class="fa-solid fa-bug"></i>
      </div>
    </footer>
  </div>
</div>