<!-- shows create project button on project page and create issue buton if the project is open -->
<nav class="navbar navbar-expand-sm " style="background-color: #e3f2fd;">
  <div class=" container-fluid">
    <a class="navbar-brand ms-4" href="/"><i class="fa-solid fa-bug"></i> BugTracker </a>
    <% if( title==="Project Page" ){ %> <%- include('_issue_form'); %>
        <% }else{ %> <%- include('_project_form'); %>
            <% } %>
  </div>
</nav>